body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 50vw;
    max-width: 800px;
    padding: 4% 6%;
    background: #35654d;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
}

.login h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 0.35vw;
}

.login input {
    padding: 3%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    width: 100%;
}

.login button {
    padding: 3%;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
}

.login button:hover {
    background-color: #333
}

.login-error {
    color: red;
    text-align: center;
    font-size: 0.9rem;
}