body {
    font-family: 'Poppins', sans-serif;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.20)), /* brighter subtle gradient */
        url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}